.planets{
    display: flex;
    flex-direction: column;
    width:150px;
    height: 530px;
    background-color: #eeeeee;
    margin: 10px;
    border-radius: 2px;
}
.planet_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
    width:150px;
    padding: 0px;
    
}
.planet_list span{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.planet_list span:hover{
    cursor: pointer;
    background-color: #D8D8D8;
}
.button_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}