.travelPlanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
}
.info_container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 550px;
    width:500px;
}